@media all and (max-width:1200px){
.body{
    background-color: rgb(250, 250, 250);
    font-family: Arial;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: #dae7f0;
    padding: 0px;
}

.tresc{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
}

.header{
    text-align: center;
    background-color: rgb(15, 94, 240);
    height: 180px;
    padding: 15px;
    padding-bottom: 50px;
    width: auto; 
    font-size: 12px;
    color: rgb(255, 255, 255);
}
.oferta{
    color: rgb(255, 255, 255);
    background-color: rgb(15, 94, 240);
    height: 90px;
    padding: 0px;
    width: auto;
    
}


.menu{
    width: 100%;
    height: 380px;
	text-align: center;
    background-color: #1594e9;
    padding-top: 10px;
}

ol 
{
    list-style-type: none;
    margin-left: 50px;
    margin-right: 70px;
    margin-top: 0px;
    font-size: 20px;
    min-height: 50px;
    text-align: center;
    background-color: #1594e9;
    
}

ol > li
{
    text-align: center;
	height: 50px;
}


ol > li:hover 
{
	background-color: #eeec6e;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}


ol > li:hover > ul
{
	display: block;
}


li > ul > li
{
	background-color:#1594e9;
	position: relative;
	z-index: 100;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 0;
	border-top: 1px dashed #030553;
}

li > ul > li:hover
{
	background-color:#eeec6e;
    color: rgb(12, 15, 209);
	position: relative;
	z-index: 100;
	border-top: 1px dashed #030553;
}



.list {

    width:70px;
    height:20px; 
}

.list3 {
    width:150px;
    height:20px; 
}

.list2 {
    width:250px;
    height:20px; 
    padding: 0px;
    margin: 0px;
}
a.tilelink
{
    color: #fff;
    text-decoration: none;
    display: block;
    height:30px;
    margin-left: auto;
    margin-right: auto;
}
a.tilelink2
{
    color: #fff;
    text-decoration: none;
    display: block;
    height:30px;
    margin-left: auto;
    margin-right: auto;

}

a.tilelink3
{
    color: #fff;
    text-decoration: none;
    display: block;
    height:30px;
    margin-left: auto;
    margin-right: auto;
}

a.tilelink4
{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0px;
    margin: 0px;;
}


.menu a:hover
{
    color: #1100ff;
    text-decoration: none;
}

.menu2
{
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    min-height: 40px;
    text-align: center;
}

.menu2 > li
{
    display: block;
    padding: 10px;
    padding-left : 20px;
    padding-right: 20px;
}


.menu2 a
{
    color: rgb(21, 8, 138);
    text-decoration: none;
}


.menu2 a:hover
{
    color: #134fcf;
    text-decoration: none;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative
}

a
{
   color: rgb(233, 160, 51);
   text-decoration: none;
}
a:hover
{
   color: rgb(194, 115, 12);
   text-decoration: underline;
}
a.niebieski
{
   color: rgb(21, 8, 138);
   text-decoration: none;
}
.firma{
    width: 100%; 
    padding: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.firma2{
    background-color: rgb(25, 42, 196);
    margin: 0px;
    padding: 3px;
}

.firma3{
    background-color: rgb(218, 203, 0);
    margin-top: 0px;
    padding: 10px;
}

.dane{
    padding: 0px;
    width: 100%;
    background-color: rgb(201, 232, 241);
    margin-left: auto;
    margin-right: auto;
}

#naglowek{
    color: rgb(255, 255, 255);
    font-size: 35px;
}

#naglowek2{
    color: rgb(0, 0, 0);
    font-size: 22px;
}

#naglowek3{
    margin-top: 0px;
    margin-left: 20px;
    padding-top: 2px;
    font-size: 20px;
    color: rgb(27, 8, 9);
}

.tekst{
    font-size: 35px;
    color: rgb(15, 11, 80);
}

.tekst1{
    padding-left: 5px;
    font-size: 22px;
    color: rgb(15, 11, 80);
}

.tekst2{
    padding: 3px;
    font-size: 30px;
    color: rgb(15, 11, 80);
}

.tekst_naglowek{
    padding: 3px;
    font-size: 50px;
    color: rgb(255,255,255);
}

.podpis{
    padding: 3px;
    font-size: 24px;
    color: rgb(15, 11, 80);
    text-align: center;
    text-decoration: none;
}
.ofertauslug:hover > .tilelink4 {

    text-decoration: none;
}
.ofertauslug:hover > .tilelink4 > .podpis{
    color: rgb(25, 112, 13);
    text-decoration: none;
}


.koniec{
    clear:both;
}

.footer {
    background-color: rgb(250, 250, 100); 
    text-align: center;
    bottom:0;
	width:100%;
    height:600px;	
    min-height:calc(400px);
    }

.stopka{
    text-align: left;
    margin-left: 50px;
    margin-top: 0px;
    font-size: 12px;
    padding: 0px;
}

.stopka a
{
    color: rgb(21, 8, 138);
    text-decoration: none;
}

.stopka a:hover{
    color: #134fcf;
    text-decoration: none;
}

.tlo {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 600px;
    background: #CFD5DE url(pobrane/AdobeStock_442842095.jpeg) no-repeat center center fixed;
    background-size:cover
}

.zdjecie {
    margin: 0px;
    padding: 0px;
    width: 100%;   
}
.ofertauslug{
    float: left;
    margin: 10%;
    width: 80%;
    aspect-ratio: 1 / 0.7;
}

#zdjecie1 {
    float:left;
    margin: 0px;
    padding: 6%;
    width: 85%;
}

#zdjecie2 {
    float:left;
    margin: 0px;
    padding: 6%;
    width: 85%;
}

#zdjecie3 {
    float:left;
    margin: 0px;
    padding: 6%;
    width: 85%;
}
#naglowek_na_tle{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}
.przyciskgora
{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("pobrane/up.png") no-repeat 0px 0px;
	position: fixed;
	right: 10px;
	bottom: 50px;
	display: none;
}

.zdjeciegaleriamale{
    margin-left: 6%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 41%;
    float:left;
    padding: 0px;
}

.zdjeciegaleria:hover {
    cursor: zoom-in;
}   

.fb
{
    color: white;
    font-size: 100px;
    margin: 10px;
    width: 140px;
    height: 130px;
    background-color: #4668b3;
    float: left;

}

.icon-facebook
{
    color: white;
}

}