@media all and (min-width:1200px){
.body{
    background-color: rgb(250, 250, 250);
    font-family: Arial;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container
{
left: 0;
width: 100%;
background-color: #dae7f0;
padding: 0px;

}
.tresc{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    width: 80%;
}
.header{
    background-color: rgb(15, 94, 240);
    height: 90px;
    padding: 15px;
    width: auto; 
    text-align: right;
    font-size: 12px;
    color: rgb(255, 255, 255);
}
.oferta{
    float: left;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 94, 240);
    height: 90px;
    font-size: 16px;
    padding: 0px;
    width: auto;
}


.dane{
    padding: 20px 20px 20px 20px;
    margin-left: 30px;
}

.menu{
    width: 100%;
    height: 50px;
	text-align: center;
    background-color: #1594e9;
}

ol 
{
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    min-height: 50px;
    text-align: center;
    background-color: #1594e9;
    display: inline-block;
    
}

ol > li
{
    text-align: center;
    border-right: 2px dashed #030553;
    float: left;
	height: 50px;

}


ol > li:hover 
{
	background-color: #eeec6e;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0px;
    display: none;
}


ol > li:hover > ul
{
	display: block;
}


ol > li:first-child
{

    border-left: 2px dashed #030553;
}

li > ul > li
{
	background-color:#1594e9;
	position: relative;
	z-index: 100;
    height: 60px;
    width: 250px;
    padding: 0;
    margin: 0;
	border-top: 1px dashed #030553;
}

li > ul > li:hover
{
	background-color:#eeec6e;
    color: rgb(12, 15, 209);
	position: relative;
	z-index: 100;
	border-top: 1px dashed #030553;
}



.list {
    display: inline-block;
    width:70px;
    height:20px; 
}

.list3 {
    display: inline-block;
    width:150px;
    height:20px; 
}

.list2 {
    display: inline-block;
    width:250px;
    height:20px; 
    padding: 0px;
    margin: 0px;
}
a.tilelink
{
    color: #fff;
    text-decoration: none;
    display: block;
    width:70px;
    height:30px;
    padding: 10px;
}
a.tilelink2
{
    color: #fff;
    text-decoration: none;
    display: block;
    height:30px;
    padding: 10px;
}

a.tilelink3
{
    color: #fff;
    text-decoration: none;
    display: block;
    width:250px;
    height:30px;
    padding: 10px 0px 10px 0px;
}

a.tilelink4
{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0px;
    margin: 0px;;
    height:80%;
}


.menu a:hover
{
    color: #1100ff;
    text-decoration: none;
}

.menu2
{
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    min-height: 40px;
    text-align: center;
}

.menu2 > li
{
    display: inline-block;
    padding: 10px;
    padding-left : 20px;
    padding-right: 20px;
}


.menu2 a
{
    color: rgb(21, 8, 138);
    text-decoration: none;
}


.menu2 a:hover
{
    color: #134fcf;
    text-decoration: none;
}

.logo{
    background-color: rgb(201, 232, 241);
    padding-left: 10%;
    padding-right: 10%;
}

a
{
   color: rgb(233, 160, 51);
   text-decoration: none;
}
a:hover
{
   color: rgb(194, 115, 12);
   text-decoration: underline;
}
a.niebieski
{
   color: rgb(21, 8, 138);
   text-decoration: none;
}
.firma{
    float: left;
    text-align: center;
    width: 300px; 
    padding: 0px;
}

.firma2{
    background-color: rgb(25, 42, 196);
    margin: 0px;
    padding: 3px;
}

.firma3{
    background-color: rgb(218, 203, 0);
    margin-top: 0px;
    padding: 10px;
}

#naglowek{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

#naglowek2{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#naglowek3{
    margin-top: 0px;
    margin-left: 20px;
    padding-top: 5px;
    font-size: 20px;
    color: rgb(27, 8, 9);
}
.tekst{
    font-size: 35px;
    color: rgb(15, 11, 80);
}
.tekst1{
    padding-left: 5px;
    font-size: 20px;
    color: rgb(15, 11, 80);
}

.tekst2{
    padding: 3px;
    font-size: 30px;
    color: rgb(15, 11, 80);
}

.tekst_naglowek{
    padding: 3px;
    font-size: 50px;
    color: rgb(255,255,255);
}

.podpis{
    padding: 3px;
    font-size: 24px;
    color: rgb(15, 11, 80);
    text-align: center;
    text-decoration: none;
}
.ofertauslug:hover > .tilelink4 {

    text-decoration: none;
}
.ofertauslug:hover > .tilelink4 > .podpis{
    color: rgb(25, 112, 13);
    text-decoration: none;
}



.koniec{
    clear:both;
}

.footer {
    background-color: rgb(255, 255, 100); 
    text-align: center;
    bottom:0;
	width:100%;
    height:220px;	
    min-height:calc(220px);
    }

.stopka{
    text-align: left;
    float: left;
    margin-left: 50px;
    margin-top: 0px;
    font-size: 12px;
    padding: 0px;
}

.stopka a
{
    color: rgb(21, 8, 138);
    text-decoration: none;
}

.stopka a:hover{
    color: #134fcf;
    text-decoration: none;
}

.tlo {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 1000px;
    background: #CFD5DE url(pobrane/AdobeStock_442842095.jpeg) no-repeat center center fixed;
    background-size:cover
}

.zdjecie {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80%;
    color: rgb(15, 11, 80);
    font-size: 24px;
    aspect-ratio: 1 / 1;
}


.ofertauslug{
    float: left;
    margin: 4%;
    width: 25%;
    aspect-ratio: 1 / 1.4;
}


#zdjecie1 {
    float:left;
    margin: 0px;
    padding: 3%;
    width: 48%;
}

#zdjecie2 {
    float:left;
    margin: 0px;
    padding: 3%;
    width: 40%;
}

#zdjecie3 {
    float:left;
    margin: 0px;
    padding: 3%;
    width: 36%;
}

#naglowek_na_tle{
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.przyciskgora
{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("pobrane/up.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
}

.zdjeciegaleriamale{
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 20%;
    float:left;
    padding: 0px;
}

.zdjeciegaleria:hover {
    cursor: zoom-in;
}    


.fb
{
    color: white;
    font-size: 100px;
    margin: 10px;
    width: 140px;
    height: 130px;
    background-color: #4668b3;
    float: left;

}

.icon-facebook
{
    color: white;
}

}